EXPO_PUBLIC_SUPABASE_URL=https://szgvpajhmqvxugoeoidc.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_YOUR_PUBLIC_KEY
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=YOUR_WEB_CLIENT_ID.apps.googleusercontent.com
